<div
  aria-labelledby="offcanvasExampleLabel"
  class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 bg-primary bg-opacity-75 p-2"
  id="offcanvasExample"
  style="width: 10rem"
  tabindex="-1">
  <div *ngIf="user$ | async as user" class="mb-5 border-bottom">
    <a
      class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none">
      <img
        alt="user"
        class="rounded-circle border"
        height="90"
        src="assets/avatar/avatar_2.png"
        width="90" />
    </a>
    <div class="align-items-center d-flex justify-content-center">
      <span class="text-white text-wrap">{{
        user?.preferred_username?.toUpperCase()
      }}</span>
    </div>
  </div>
  <ul class="nav nav-pills nav-flush flex-column fs-6 align-self-center">
    <li class="mb-3">
      <button
        [routerLink]="['visitors']"
        class="nav-link px-0 align-middle text-light"
        data-bs-dismiss="offcanvas">
        <i class="bi bi-person-vcard fs-4"></i>
        <span class="ms-1 d-none d-sm-inline">Visitante</span>
      </button>
    </li>

    <li class="mb-3">
      <button
        [routerLink]="['visits']"
        class="nav-link px-0 align-middle text-light"
        data-bs-dismiss="offcanvas">
        <i class="bi bi-people-fill fs-4"></i>
        <span class="ms-1 d-none d-sm-inline">Atedimento</span>
      </button>
    </li>
    <li>
      <button
        (click)="logout()"
        class="nav-link px-0 align-middle text-light"
        data-bs-dismiss="offcanvas">
        <i class="bi bi-door-open-fill fs-4"></i>
        <span class="ms-1 d-none d-sm-inline">Sair</span>
      </button>
    </li>
  </ul>
</div>
