<nav class="navbar d-flex mt-lg-5 mt-sm-2">
  <div class="col-3"><h1>Lista de Atendimentos</h1></div>
  <div class="col-6">
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
      <input
        (keyup)="debounce.next($any($event.target).value)"
        aria-label="Buscar"
        class="form-control me-2 small"
        placeholder="Buscar por nome ou CPF"
        type="search" />
    </div>
  </div>

  <div class="col-3 text-end">
    <button
      (click)="onChangeStatus()"
      class="btn-sm btn btn-primary"
      style="width: 115px"
      type="button">
      {{ dataPagination.status ? 'Ativos' : 'Encerrados' }}
    </button>
  </div>
</nav>
<pgm-visit-table
  (paginatorChange)="onChangePage($event)"
  (tableSizeChange)="onTableSizeChange($event)"
  [statusVisits]="dataPagination.status"
  [visits$]="
    visits$ | filterSearchVisits : searchFilter : pipeStatus
  "></pgm-visit-table>

<pgm-confirmation-modal
  (closeVisit)="onCloseVisits($event)"
  [titleModal]="'Encerrar atendimento'"></pgm-confirmation-modal>
