<nav class="navbar d-flex">
  <div class="col-6">
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
      <input
        (keyup)="debounce.next($any($event.target).value)"
        aria-label="Buscar"
        class="form-control me-2 small"
        placeholder="Buscar por nome ou CPF"
        type="search" />
    </div>
  </div>

  <button
    (click)="onChangeStatus()"
    [class]="dataPagination.status ? 'btn btn-danger' : 'btn btn-success'"
    class="btn-sm"
    style="width: 200px"
    type="button">
    {{
      dataPagination.status ? 'Atendimentos Encerrados' : 'Atendimentos Ativos'
    }}
  </button>
</nav>

<pgm-visit-table
  (closeVisits)="onCloseVisits($event)"
  (paginatorChange)="onChangePage($event)"
  (tableSizeChange)="onTableSizeChange($event)"
  [statusVisits]="dataPagination.status"
  [visits$]="
    visits$ | filterSearchVisits : searchFilter : pipeStatus
  "></pgm-visit-table>
