<nav class="navbar">
  <form class="d-flex">
    <input
      (keyup)="debounce.next($any($event.target).value)"
      aria-label="Buscar"
      class="form-control me-2 small"
      placeholder="Buscar"
      type="search" />
    <button class="btn btn-outline-primary btn-sm" type="submit">Buscar</button>
  </form>

  <button
    (click)="onChangeStatus()"
    [class]="dataPagination.status ? 'btn btn-danger' : 'btn btn-success'"
    class="btn-sm"
    style="width: 200px"
    type="button">
    {{
      dataPagination.status ? 'Atendimentos Encerrados' : 'Atendimentos Ativos'
    }}
  </button>
</nav>

<pgm-visit-table
  (closeVisits)="onCloseVisits($event)"
  (paginatorChange)="onChangePage($event)"
  (tableSizeChange)="onTableSizeChange($event)"
  [statusVisits]="dataPagination.status"
  [visits$]="
    visits$ | filterByNameAndDocument : searchFilter : pipeStatus
  "></pgm-visit-table>
