<section>
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-75">
      <div
        class="col-lg-12 text-center fs-2 mt-2 mt-md-4 mt-lg-5 mb-2 mb-md-4 text-primary">
        Gerenciador de atendimento
      </div>
      <div [@bounce]="bounce" class="col-md-7 col-lg-7 col-xl-6">
        <img
          alt="Photo"
          class="img-fluid rounded-3 shadow border-2 border"
          src="../../assets/img/foto-pgm.jpeg" />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 mt-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
