<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-2">
  <div
    *ngIf="isLogged()"
    class="side-navbar-button text-white"
    data-bs-target="#offcanvasExample"
    data-bs-toggle="offcanvas">
    <i class="navbar-toggler-icon fs-5 ms-4"></i>
  </div>
  <div class="m-auto">
    <img
      alt="logo"
      class="me-3"
      data-bs-target="#offcanvasExample"
      data-bs-toggle="offcanvas"
      src="assets/img/logo_1.png" />
    <a class="navbar-brand fs-3"> Procuradoria Geral do Município </a>
  </div>
</nav>
