<nav class="navbar">
  <form class="d-flex">
    <input
      aria-label="Buscar"
      class="form-control me-2 small"
      placeholder="Buscar"
      type="search" />
    <button class="btn btn-outline-primary btn-sm" type="submit">Buscar</button>
  </form>
  <button
    (click)="onShowModalCreateVisitor()"
    class="btn btn-success btn-sm"
    type="button">
    Novo Cadastro
  </button>
</nav>

<pgm-visitor-table
  (addVisit)="onAddVisitToVisitor($event)"
  (paginatorChange)="onChangePage($event)"
  (tableSizeChange)="onTableSizeChange($event)"
  [visitors$]="visitors$"></pgm-visitor-table>
