<!-- Modal -->
<div
  aria-hidden="false"
  aria-labelledby="confirmationModalLabel"
  class="modal fade"
  id="confirmationModal"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">
          {{ titleModal }}
        </h1>
      </div>
      <div class="modal-body">
        <p>
          Encerrar atendimento para:
          <strong>{{ visitClose.nameVisitor?.toUpperCase() }}</strong
          >?
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
          Não
        </button>
        <button (click)="onCloseVisits()" class="btn btn-primary" type="button">
          Sim
        </button>
      </div>
    </div>
  </div>
</div>
