<nav class="navbar navbar">
  <form class="d-flex">
    <input
      aria-label="Search"
      class="form-control me-2 small"
      placeholder="Search"
      type="search" />
    <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
  </form>
  <button
    (click)="onChangeStatus()"
    [class]="dataPagination.status ? 'btn btn-danger' : 'btn btn-success'"
    class="btn-sm"
    style="width: 200px"
    type="button">
    {{
      dataPagination.status ? 'Atendimentos Encerrados' : 'Atendimentos Ativos'
    }}
  </button>
</nav>

<pgm-visit-table
  (paginatorChange)="onChangePage($event)"
  (tableSizeChange)="onTableSizeChange($event)"
  [statusVisits]="dataPagination.status"
  [visits$]="visits$"></pgm-visit-table>
