<div class="card mb-2">
  <div class="card-body">
    <table *ngIf="visits$ | async as visits" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Secretaria</th>
          <th scope="col">Crachá</th>
          <th scope="col">Início</th>
          <th scope="col">Fim</th>
          <th>Atendimento</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let visit of visits.content
              | paginate
                : {
                    itemsPerPage: visits.itemsPerPage,
                    currentPage: visits.currentPage,
                    totalItems: visits.totalItems
                  };
            let i = index
          ">
          <td>{{ visits.itemsPerPage * (visits.currentPage - 1) + i + 1 }}</td>
          <td style="width: 300px">{{ visit.visitor.name }}</td>
          <td>{{ visit.visitor.document }}</td>
          <td>{{ visit.secretary }}</td>
          <td>{{ visit.badge }}</td>
          <td>{{ visit.created_at | date : 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ visit.updated_at | date : 'dd/MM/yyyy HH:mm' }}</td>
          <td *ngIf="!statusVisits">
            <button
              (click)="onCloseVisits(visit.id)"
              class="btn btn-primary btn-sm"
              style="width: 100px">
              Encerrar
            </button>
          </td>
          <td *ngIf="statusVisits">
            <button class="btn btn-danger btn-sm" disabled style="width: 100px">
              Encerrado
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col">
    <select
      (change)="onTableSizeChange($event)"
      class="form-select float-end"
      style="width: 80px; height: 35px; font-size: small">
      <option value="5">5</option>
      <option selected value="10">10</option>
      <option value="15">15</option>
    </select>

    <pagination-controls
      (pageBoundsCorrection)="onPaginatorChange($event)"
      (pageChange)="onPaginatorChange($event)"
      [autoHide]="false"
      [maxSize]="5"
      class="float-end me-3"
      nextLabel="Próxima"
      previousLabel="Anterior"></pagination-controls>
  </div>
</div>
