<div class="card bg-primary mb-2" style="height: 40px">
  <div class="row text-center pt-1">
    <h2 class="text-light">
      {{ statusVisits ? 'Atendimentos encerrados' : 'Atendimentos ativos' }}
    </h2>
  </div>
</div>
<div [@bounce]="bounce" class="card mb-2 table-responsive-md row-cols-lg-12">
  <div class="card-body p-1">
    <table
      *ngIf="visits$ | async as visits"
      aria-label="teste"
      class="table table-hover">
      <thead class="table-primary">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Secretaria</th>
          <th scope="col">Crachá</th>
          <th scope="col">Início</th>
          <th scope="col">Fim</th>
          <th scope="col">Duração</th>
          <th>Atendimento</th>
        </tr>
      </thead>
      <tbody *ngIf="visits.content.length; else notFoundData">
        <tr
          *ngFor="
            let visit of visits.content
              | paginate
                : {
                    itemsPerPage: visits.itemsPerPage,
                    currentPage: visits.currentPage,
                    totalItems: visits.totalItems
                  };
            let i = index
          ">
          <td style="width: 300px">{{ visit.visitor.name }}</td>
          <td>{{ visit.visitor.document }}</td>
          <td>{{ visit.secretary }}</td>
          <td>{{ visit.badge }}</td>
          <td>{{ visit.created_at | date : 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ visit.updated_at | date : 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ visit.duration > 0 ? visit.duration : 0 }} minuto(s)</td>
          <td *ngIf="!statusVisits">
            <button
              (click)="
                openConfirmationModal({
                  id: visit.id,
                  nameVisitor: visit.visitor.name
                })
              "
              [disabled]="!isExistRoles(['USER', 'ADMIN'])"
              class="btn btn-primary btn-sm"
              style="width: 100px">
              Encerrar
            </button>
          </td>
          <td *ngIf="statusVisits" style="width: 210px">
            <button
              [disabled]="!isExistRoles(['ADMIN'])"
              class="btn btn-info btn-sm me-2"
              style="width: 90px">
              Encerrado
            </button>

            <button
              (click)="onDeleteVisit(visit)"
              [disabled]="!isExistRoles(['ADMIN'])"
              class="btn btn-danger btn-sm"
              style="width: 90px">
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #notFoundData>
      <h2 class="text-danger">No data</h2>
    </ng-template>
    <div class="row">
      <div class="col">
        <select
          (change)="onTableSizeChange($event)"
          class="form-select float-end"
          style="width: 80px; height: 35px; font-size: small">
          <option value="5">5</option>
          <option selected value="10">10</option>
          <option value="15">15</option>
        </select>

        <pagination-controls
          (pageBoundsCorrection)="onPaginatorChange($event)"
          (pageChange)="onPaginatorChange($event)"
          [autoHide]="false"
          [maxSize]="5"
          class="float-end me-3"
          nextLabel="Próxima"
          previousLabel="Anterior"></pagination-controls>
      </div>
    </div>
  </div>
</div>
