<nav class="navbar d-flex mt-lg-5 mt-sm-2">
  <div class="col-3"><h1>Lista de visitantes</h1></div>
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-search"></i></span>

      <input
        (keyup)="debounce$.next($any($event.target).value)"
        aria-label="Buscar"
        class="form-control me-2 small"
        id="floatingInput"
        placeholder="Buscar por nome ou CPF"
        type="search" />
    </div>
  </div>

  <div class="col-3 text-end">
    <button
      (click)="onShowModalCreateVisitor()"
      [disabled]="!isExistRole(['USER', 'ADMIN'])"
      class="btn btn-primary btn-sm"
      style="width: 115px"
      type="button">
      Novo Cadastro
    </button>
  </div>
</nav>
<pgm-visitor-table
  (addVisit)="onAddVisitToVisitor($event)"
  (paginatorChange)="onChangePage($event)"
  (tableSizeChange)="onTableSizeChange($event)"
  [visitors$]="
    visitors$ | filterSearchVisitors : searchFilter
  "></pgm-visitor-table>
