<div class="card lead fw-normal text-center text-primary p-3">
  Acesso ao sistema
</div>
<div class="card mt-3">
  <div class="card-body">
    <form [formGroup]="signInForm">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="formUsername">Email ou Username</label>
        <input
          class="form-control"
          formControlName="username"
          id="formUsername"
          placeholder="Email ou username"
          type="email" />
      </div>

      <!-- Password input -->
      <div class="form-outline mb-3">
        <label class="form-label" for="formPassword">Senha</label>
        <input
          class="form-control"
          formControlName="password"
          id="formPassword"
          placeholder="Entre com a senha"
          type="password" />
      </div>
    </form>
  </div>
</div>
<div class="card text-lg-start mt-3 p-2">
  <button (click)="login()" class="btn btn-primary" type="button">Login</button>
</div>
