<div class="card bg-primary mb-2" style="height: 40px">
  <div class="row text-center pt-1">
    <h2 style="color: #fff">Visitantes cadastrados</h2>
  </div>
</div>
<div [@bounce]="bounce" class="card mb-2 table-responsive-lg">
  <div class="card-body p-1">
    <table
      *ngIf="visitors$ | async as visitors"
      aria-label="visitors"
      class="table table-hover">
      <thead class="table-primary">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Atendimento</th>
        </tr>
      </thead>
      <tbody *ngIf="visitors.content.length; else notFoundData">
        <tr
          *ngFor="
            let visitor of visitors.content
              | paginate
                : {
                    itemsPerPage: visitors.itemsPerPage,
                    currentPage: visitors.currentPage,
                    totalItems: visitors.totalItems
                  }
          ">
          <td style="width: 300px">{{ visitor.name }}</td>
          <td>{{ visitor.document }}</td>
          <td style="width: 190px">
            <button
              (click)="onAddVisit(visitor)"
              [disabled]="!isExistRole(['ADMIN', 'USER'])"
              class="btn btn-primary btn-sm me-2"
              style="width: 80px">
              Adicionar
            </button>

            <button
              (click)="onDeleteVisit(visitor)"
              [disabled]="!isExistRole(['ADMIN'])"
              class="btn btn-danger btn-sm"
              style="width: 80px">
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #notFoundData>
      <h2 class="text-danger">No data</h2>
    </ng-template>
  </div>
</div>
<div class="row">
  <div class="col">
    <select
      (change)="onTableSizeChange($event)"
      class="form-select float-end"
      style="width: 80px; height: 35px; font-size: small">
      <option value="5">5</option>
      <option selected value="10">10</option>
      <option value="15">15</option>
    </select>

    <pagination-controls
      (pageChange)="onPaginatorChange($event)"
      [autoHide]="false"
      [maxSize]="5"
      class="float-end me-3"
      nextLabel="Próxima"
      previousLabel="Anterior"></pagination-controls>
  </div>
</div>

<pgm-form-visit-modal></pgm-form-visit-modal>
